{% extends 'base.html' %}
{% block title %}Product | List {% endblock %}
{% block content %}
  {% if request.GET.q %}
  <h1 class="text-center">Result for {{ request.GET.q}}</h1>
  <hr>
  <div class="container">
     <div class="row">
         {% for obj in objects %}
       <div class="col col-4">
         <div class="card shadow-lg p-3 mb-5 bg-white rounded">
           {% if obj.image %}

             {% endif %}
             <div class="card-body">
               <h5 class="card-title">{{ obj.name }}</h5>
               <p class="card-text">{{ obj.content }}</p>
               <p class="card-title">Rs.{{ obj.price }}</p>
             </div>
          </div>
         </div>
         {% endfor %}
       </div>
   </div>
   {% else %}
   <p> Not found any product.</p>
    {% endif %}
 {% endblock %}
